{
  auto_https off
  admin off
}

:80 {
  header Access-Control-Allow-Origin *
  header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
  header Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"

  handle /api/* {
    reverse_proxy backend:8000
  }

  handle {
    root * /www
    file_server
    try_files {path} /index.html
  }
}
